<template lang="pug">
  .forecaster
    .forecaster__toolbar
      h3.forecaster__caption Прогноз роста портфеля
      select(v-model="selectedProfile")
        option(
          v-for="(profile, index) in investProfiles"
          v-bind:value="profile"
        ) {{ profile.name }}
    .forecaster__container
      ForecasterTooltip.forecaster__tooltip(
        :date="cursorDate"
        :middleValue="cursorNetWorthMiddle"
        :upperValue="cursorNetWorthUpper"
        :lowerValue="cursorNetWorthLower"
        v-bind:style="{ left: tooltipX + 'px', top: tooltipY + 'px' }"
        ref="tooltip"
      )
      div.forecaster__chart(ref="forecaster")
</template>

<script>
import * as am4core from '@amcharts/amcharts4/core';
import * as am4charts from '@amcharts/amcharts4/charts';
import theme from '@amcharts/amcharts4/themes/animated';
import ForecasterTooltip from '@/components/charts/ForecasterTooltip/ForecasterTooltip.vue';
import { mapState } from 'vuex';

am4core.useTheme(theme);

export default {
  data: () => ({
    // Chart instances
    chart: null,
    dateAxis: null,
    valueAxis: null,
    seriesNetWorth: null,

    // Tooltip
    tooltipX: null,
    tooltipY: null,
    cursorDate: new Date(),
    cursorNetWorthMiddle: 0,
    cursorNetWorthUpper: 0,
    cursorNetWorthLower: 0,

    // Invest profile
    investProfiles: [
      {
        name: 'Консервативный',
        expectedGrowth: 0.1,
      },
      {
        name: 'Умеренно консервативный',
        expectedGrowth: 0.12,
      },
      {
        name: 'Рациональный',
        expectedGrowth: 0.15,
      },
      {
        name: 'Умеренно агрессивный',
        expectedGrowth: 0.2,
      },
      {
        name: 'Агрессивный',
        expectedGrowth: 0.25,
      },
    ],
    selectedProfile: null,
  }),

  computed: {
    ...mapState({
      dateStart: (state) => state.investmentOptions.period.dateStart,
      dateEnd: (state) => state.investmentOptions.period.dateEnd,
      investAmount: (state) => state.investmentOptions.investmentAmount,
      cashIn: (state) => state.investmentOptions.cashIn,
      cashOut: (state) => state.investmentOptions.cashOut,
    }),

    expectedGrowth() {
      return this.selectedProfile.expectedGrowth / 12;
    },

    chartData() {
      if (this.selectedProfile === null) {
        return [];
      }
      const result = [];
      let date = this.dateStart;
      let currentWorth = Number(this.investAmount);

      while (date <= this.dateEnd) {
        // middle horizon
        const ratioMiddle = (1 + this.expectedGrowth) ** result.length;

        // upper horizon
        const ratioUpper = (1 + this.expectedGrowth + 0.005) ** result.length;

        // lower horizon
        const ratioLower = (1 + this.expectedGrowth - 0.005) ** result.length;

        // side cash effects
        const cashIn = this.getCashInByDate(date);
        const cashOut = this.getCashOutByDate(date);

        const expectedWorthMiddle = (currentWorth + cashIn - cashOut) * ratioMiddle;
        const expectedWorthUpper = (currentWorth + cashIn - cashOut) * ratioUpper;
        const expectedWorthLower = (currentWorth + cashIn - cashOut) * ratioLower;

        currentWorth = currentWorth + cashIn - cashOut;
        result.push({
          date,
          name: result.length,

          netWorth: expectedWorthMiddle,
          netWorthGood: expectedWorthUpper,
          netWorthBad: expectedWorthLower - 150000 * (1 / (Number(result.length) / 2 + 1)),
          // netWorthBad: expectedWorthLower,

          investAmount: Number(this.investAmount),
          cashInOpen: cashIn !== 0 ? expectedWorthMiddle - cashIn : null,
          cashInClose: cashIn !== 0 ? expectedWorthMiddle : null,
          cashOutOpen: null,
          cashOutClose: null,
          // cashInOpen: cashIn ? expectedWorthMiddle : null,
          // cashInClose: cashIn ? expectedWorthMiddle + cashIn.amount : null,
          // cashOutOpen: cashOut ? expectedWorthMiddle - totalWorth : null,
          // cashOutClose: cashOut ? 0 + (-0.1 * (totalWorth < 0)) : null,
        });
        date = new Date(date.getFullYear(), date.getMonth() + 1, 1);
      }
      return result;
    },
  },

  watch: {
    chartData(data) {
      if (this.chart) {
        this.chart.data = data;
      }
    },
  },

  methods: {
    getCashOutByDate(date) {
      const result = this.cashOut.find((element) => (
        (element.date.getFullYear() === date.getFullYear())
        && (element.date.getMonth() === date.getMonth())
      ));
      return result ? result.amount : 0;
    },

    getCashInByDate(date) {
      const result = this.cashIn.find((element) => (
        (element.date.getFullYear() === date.getFullYear())
        && (element.date.getMonth() === date.getMonth())
      ));
      return result ? result.amount : 0;
    },

    initChart() {
      this.chart = am4core.create(this.$refs.forecaster, am4charts.XYChart);
      this.chart.data = this.chartData;
      this.chart.paddingLeft = 0;
      this.chart.paddingRight = 0;
    },

    initCursor() {
      this.chart.cursor.events.on('hidden', (e) => {
        console.log('cursor hidden', e);
      });

      // Set up cursor's events to update the label
      this.chart.cursor.events.on('cursorpositionchanged', (e) => {
        // Collect tooltip elements dimensions
        const tooltipNode = this.$refs.tooltip.$el;
        const tooltipWidth = tooltipNode.offsetWidth;
        const tooltipHeight = tooltipNode.offsetHeight;

        // Calculate cursor position
        const cursor = e.target;
        const cursorX = cursor.xPosition * cursor.contentWidth;
        const cursorY = cursor.contentHeight - cursor.yPosition * cursor.contentHeight;

        // Calculate X bounds
        const leftBound = this.valueAxis.measuredWidth;
        const rightBound = this.chart.measuredWidth - tooltipWidth;

        // Calculate tooltip x position
        let x = cursorX
          + this.valueAxis.measuredWidth
          - tooltipWidth / 2;
        x = (x < leftBound) ? leftBound : x;
        x = (x > rightBound) ? rightBound : x;

        // Calculate tooltip y position
        const y = (cursorY - tooltipHeight);

        // Set tooltip xy position
        this.tooltipX = x;
        this.tooltipY = y;

        // Collect tooltip data
        const dataMiddle = this.dateAxis.getSeriesDataItem(
          this.seriesNetWorth,
          this.dateAxis.toAxisPosition(this.chart.cursor.xPosition),
          true,
        );
        const dataUpper = this.dateAxis.getSeriesDataItem(
          this.seriesNetWorthGood,
          this.dateAxis.toAxisPosition(this.chart.cursor.xPosition),
          true,
        );
        const dataLower = this.dateAxis.getSeriesDataItem(
          this.seriesNetWorthLower,
          this.dateAxis.toAxisPosition(this.chart.cursor.xPosition),
          true,
        );
        // console.log(e.target);
        this.cursorDate = dataMiddle.dateX;
        this.cursorNetWorthMiddle = dataMiddle.valueY;
        this.cursorNetWorthUpper = dataUpper.valueY;
        this.cursorNetWorthLower = dataLower.valueY;
      });
    },

    createGrid() {
      // Date axis
      const dateAxis = this.chart.xAxes.push(new am4charts.DateAxis());
      dateAxis.renderer.grid.template.strokeOpacity = 1;
      dateAxis.renderer.grid.template.stroke = am4core.color('#EAECEF');
      dateAxis.renderer.grid.template.strokeWidth = 1;

      // Date axis - labels
      dateAxis.renderer.labels.template.fill = am4core.color('#999FAD');
      dateAxis.renderer.labels.template.fontSize = 12;
      dateAxis.renderer.labels.template.location = 0;
      dateAxis.renderer.labels.paddingTop = 8;

      this.dateAxis = dateAxis;

      // Value axis
      const valueAxis = this.chart.yAxes.push(new am4charts.ValueAxis());
      valueAxis.tooltip.disabled = true;
      valueAxis.renderer.minGridDistance = 56;

      // Value axis - grid
      valueAxis.renderer.grid.template.strokeOpacity = 1;
      valueAxis.renderer.grid.template.stroke = am4core.color('#EAECEF');
      valueAxis.renderer.grid.template.strokeWidth = 1;

      // Value axis - zero line
      valueAxis.renderer.baseGrid.strokeOpacity = 1;
      valueAxis.renderer.baseGrid.stroke = am4core.color('#999FAD');
      valueAxis.renderer.baseGrid.strokeWidth = 1;

      // Value axis – labels
      valueAxis.renderer.labels.template.fill = am4core.color('#999FAD');
      valueAxis.renderer.labels.template.fontSize = 12;
      valueAxis.renderer.labels.template.align = 'left';
      valueAxis.renderer.labels.template.paddingLeft = 0;
      valueAxis.renderer.labels.template.location = 0;

      // Value axis – number format
      valueAxis.numberFormatter = new am4core.NumberFormatter();
      valueAxis.numberFormatter.numberFormat = '# A';

      this.valueAxis = valueAxis;

      return { dateAxis, valueAxis };
    },

    createMiddleSeries() {
      // Middle horizon
      const seriesNetWorthMiddle = this.chart.series.push(new am4charts.StepLineSeries());
      seriesNetWorthMiddle.dataFields.dateX = 'date';
      seriesNetWorthMiddle.dataFields.valueY = 'netWorth';

      seriesNetWorthMiddle.startLocation = 0.5;
      seriesNetWorthMiddle.properties.strokeWidth = 2;
      seriesNetWorthMiddle.properties.stroke = am4core.color('#00FF00');
      this.seriesNetWorthMiddle = seriesNetWorthMiddle;
      this.createZeroRange(seriesNetWorthMiddle);
    },

    createLowerSeries() {
      const seriesNetWorthLower = this.chart.series.push(new am4charts.StepLineSeries());
      seriesNetWorthLower.dataFields.dateX = 'date';
      seriesNetWorthLower.dataFields.valueY = 'netWorthBad';

      seriesNetWorthLower.stroke = am4core.color('#8980F5');
      seriesNetWorthLower.properties.strokeWidth = 1;
      seriesNetWorthLower.startLocation = 0.5;
      seriesNetWorthLower.properties.noRisers = false;
      this.seriesNetWorthLower = seriesNetWorthLower;
      this.createZeroRange(this.seriesNetWorthLower);
    },

    createUpperSeries() {
      // Upper horizon
      const seriesNetWorthGood = this.chart.series.push(new am4charts.StepLineSeries());
      seriesNetWorthGood.dataFields.dateX = 'date';
      seriesNetWorthGood.dataFields.valueY = 'netWorthGood';
      seriesNetWorthGood.dataFields.openValueY = 'netWorth';

      seriesNetWorthGood.startLocation = 0.5;
      seriesNetWorthGood.properties.strokeWidth = 1;
      seriesNetWorthGood.properties.stroke = am4core.color('#80ED99');
      seriesNetWorthGood.fill = am4core.color('#80ED99');
      seriesNetWorthGood.sequencedInterpolation = true;
      seriesNetWorthGood.fillOpacity = 1;

      this.seriesNetWorthGood = seriesNetWorthGood;
      seriesNetWorthGood.segments.template.fillModifier = this.fillModifier();

      this.createZeroRange(this.seriesNetWorthGood);
    },

    fillModifier() {
      const fillModifier = new am4core.LinearGradientModifier();
      fillModifier.opacities = [1, 0];
      fillModifier.offsets = [0, 1];
      fillModifier.gradient.rotation = 50;
      return fillModifier;
    },

    createNetWorthSeries() {
      const seriesNetWorth = this.chart.series.push(new am4charts.StepLineSeries());
      seriesNetWorth.dataFields.dateX = 'date';
      seriesNetWorth.dataFields.valueY = 'netWorth';
      seriesNetWorth.dataFields.openValueY = 'netWorthBad';
      this.seriesNetWorth = seriesNetWorth;

      seriesNetWorth.stroke = am4core.color('#757575');
      seriesNetWorth.properties.strokeWidth = 0;
      seriesNetWorth.startLocation = 0.5;
      seriesNetWorth.properties.noRisers = false;
      seriesNetWorth.start = 0;
      seriesNetWorth.fill = am4core.color('rgba(69, 74, 222, 0.5)');
      seriesNetWorth.fillOpacity = 1;
      seriesNetWorth.segments.template.fillModifier = this.fillModifier();
      this.createZeroRange(this.seriesNetWorth);
    },

    createZeroRange(series) {
      const range = this.valueAxis.createSeriesRange(series);
      range.value = 0;
      range.endValue = -1000000000000;
      range.contents.stroke = am4core.color('#FF5964');
      range.contents.fill = am4core.color('#FF5964');
      range.contents.fillOpacity = 0.5;
    },
  },

  mounted() {
    [this.selectedProfile] = this.investProfiles;

    this.initChart();
    const { dateAxis } = this.createGrid();

    // Net Worth
    this.createNetWorthSeries();
    this.createUpperSeries();
    this.createMiddleSeries();
    this.createLowerSeries();

    // Invest amounnt
    const seriesInvestAmount = this.chart.series.push(new am4charts.LineSeries());
    seriesInvestAmount.dataFields.dateX = 'date';
    seriesInvestAmount.dataFields.valueY = 'investAmount';
    seriesInvestAmount.properties.strokeWidth = 1;
    seriesInvestAmount.strokeDasharray = '3,3';
    seriesInvestAmount.properties.stroke = am4core.color('#494D57');

    // Cash In
    const seriesCashInCandle = this.chart.series.push(new am4charts.CandlestickSeries());
    seriesCashInCandle.dataFields.dateX = 'date';
    seriesCashInCandle.dataFields.valueY = 'cashInClose';
    seriesCashInCandle.dataFields.openValueY = 'cashInOpen';
    seriesCashInCandle.dataFields.lowValueY = 'cashInOpen';
    seriesCashInCandle.dataFields.highValueY = 'cashInClose';
    seriesCashInCandle.simplifiedProcessing = true;
    seriesCashInCandle.stacked = true;
    seriesCashInCandle.clustered = false;
    seriesCashInCandle.riseFromOpenState.properties.fill = am4core.color('#6775FF');
    seriesCashInCandle.riseFromOpenState.properties.strokeWidth = 0;

    // Cash out
    /* const seriesCashOutCandle = this.chart.series.push(new am4charts.CandlestickSeries());
    seriesCashOutCandle.dataFields.dateX = 'date';
    seriesCashOutCandle.dataFields.valueY = 'cashOutClose';
    seriesCashOutCandle.dataFields.openValueY = 'cashOutOpen';
    seriesCashOutCandle.dataFields.lowValueY = 'cashOutOpen';
    seriesCashOutCandle.dataFields.highValueY = 'cashOutClose';
    seriesCashOutCandle.simplifiedProcessing = true;
    seriesCashOutCandle.clustered = false;
    seriesCashOutCandle.stacked = true;
    seriesCashOutCandle.dropFromOpenState.properties.fill = am4core.color('#FF6767');
    seriesCashOutCandle.dropFromOpenState.properties.strokeWidth = 0; */

    // Cursor
    this.chart.cursor = new am4charts.XYCursor();
    this.chart.cursor.xAxis = dateAxis;
    this.chart.cursor.fullWidthLineX = true;
    this.chart.cursor.lineX.strokeWidth = 0;
    this.chart.cursor.lineX.fill = am4core.color('#8F3985');
    this.chart.cursor.lineX.fillOpacity = 0.1;
    this.chart.cursor.snapToSeries = [this.seriesNetWorthMiddle];

    this.chart.cursor.events.on('ready', () => {
      this.initCursor();
    });

    // Bullet
    const bullet = this.seriesNetWorthMiddle.bullets.push(new am4charts.CircleBullet());
    bullet.circle.stroke = am4core.color('#fff');
    bullet.circle.strokeWidth = 2;
    bullet.fillOpacity = 0;
    bullet.strokeOpacity = 0;

    const bulletState = bullet.states.create('hover');
    bulletState.properties.fillOpacity = 1;
    bulletState.properties.strokeOpacity = 1;

    /* const scrollbarX = new am4charts.XYChartScrollbar();
    scrollbarX.series.push(seriesNetWorth);
    scrollbarX.series.push(seriesNetWorthGood);

    scrollbarX.series.push(seriesCashIn);
    scrollbarX.series.push(seriesCashOut);
    this.chart.scrollbarX = scrollbarX; */
  },

  beforeDestroy() {
    if (this.chart) {
      this.chart.dispose();
    }
  },

  components: {
    ForecasterTooltip,
  },
};
</script>

<style lang="scss" scoped>

.forecaster {
  background: #F7F8F9;
  border-radius: 6px;
  padding: 24px;

  &__container {
    position: relative;
  }

  &__tooltip {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    transition: all 50ms ease-in-out;
  }

  &__caption {
    margin: 0;
    width: 100%;
  }

  &__toolbar {
    display: flex;
    margin-bottom: 24px;
  }

  &__chart {
    width: 100%;
    height: 300px;
  }
}
</style>
