@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#app,
body,
input,
select,
textarea {
  color: _palette(grey, 900);
  font-family: _font-style(base, family);
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: #2c3e50;
}

// Hyperlinks
/* a {
  color: _palette(base, link);
  text-decoration: none;
  font-weight: normal;

  &.link {
    text-decoration: underline;
    cursor: pointer;
  }

  &:hover {
    color: darken(_palette(base, link), 15%);
  }
} */

// Subscript & Superscript
sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

h3 {
  font-size: $base-font-size;
  margin: _offset(4) 0 _offset(2);
}
