<template lang="pug">
  .page
    .content
      .container
        invest-forecaster
    .page__sidebar
      perfect-scrollbar
        sidebar
          InvestOptions
</template>

<script>
import Sidebar from '@/components/ui/Sidebar/Sidebar.vue';
import InvestOptions from '@/components/ui/InvestOptions/InvestOptions.vue';
import InvestForecaster from '@/components/charts/InvestForecaster/InvestForecaster.vue';

export default {
  components: {
    Sidebar,
    InvestOptions,
    InvestForecaster,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '~@/assets/scss/core.scss';

.page {
  &__sidebar {
    width: 424px;
    background: #fff;
    bottom: 0;
    right: 0;
    position: fixed;
    top: 0;
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  }
}

.content {
  margin: _offset(3) 424px 0 0;
}

.container {
  padding: 0 _offset(4);
}

.ps {
  height: 100%;
}
</style>
