<template lang="pug">
  aside.sidebar
    slot
</template>

<script>
export default {
};
</script>

<style lang="scss">
@import '~@/assets/scss/core.scss';

.sidebar {
  padding: _offset(3) _offset(5);
  height: 10000px;
}
</style>
