<template lang="pug">
  .options
    .options__block.investment
      h3 Инвестиции
      input(
        type="number"
        placeholder="Сумма инвестиций"
        v-model="amount"
        v-on:blur="setAmount"
        v-on:keyup.enter="setAmount"
      )
    .options__block
      h3 Срок
      .period
        input(
          type="number"
          placeholder="Лет"
          v-model="years"
          v-on:blur="setPeriod"
          v-on:keyup.enter="setPeriod"
        )
        input(
          type="number"
          placeholder="Месяцев"
          v-model="months"
          v-on:blur="setPeriod"
          v-on:keyup.enter="setPeriod"
        )
    .options__block.cashIn
      h3 Периодические сбережения
      .cashIn__input(v-for="refill in refills")
        .cashIn__label.cashIn__currency Рубли РФ
        .cashIn__label.cashIn__date {{ refill.date | formatMY }}
        input(
          type="number"
          placeholder="Сумма"
          v-model="refill.amount"
          v-on:blur="setRefill(refill.transactionId, refill.amount)"
          v-on:keyup.enter="setRefill(refill.transactionId, refill.amount)"
        )
</template>

<script>
import { mapState } from 'vuex';
import _ from 'lodash';

export default {
  data() {
    return {
      years: null,
      months: null,
      amount: null,
      refills: [],
    };
  },

  computed: {
    ...mapState({
      investAmount: (state) => state.investmentOptions.investmentAmount,
      investYears: (state) => state.investmentOptions.period.years,
      investMonths: (state) => state.investmentOptions.period.months,
      dateStart: (state) => state.investmentOptions.period.dateStart,
      dateEnd: (state) => state.investmentOptions.period.dateEnd,
      cashIn: (state) => state.investmentOptions.cashIn,
    }),
  },

  methods: {
    setPeriod() {
      if (this.years !== this.investYears || this.months !== this.investMonths) {
        this.$store.dispatch('setInvestmentPeriod', {
          years: this.years,
          months: this.months,
        });
      }
    },

    setAmount() {
      if (this.amount >= 0) {
        this.$store.commit('investmentAmount', this.amount);
      } else {
        this.$store.commit('investmentAmount', 0);
      }
    },

    setRefill(transactionId, amount) {
      this.$store.dispatch('updateCashInTransaction', { transactionId, amount: Number(amount) });
    },
  },

  mounted() {
    this.amount = this.investAmount;
    this.years = this.investYears;
    this.months = this.investMonths;
    this.refills = _.cloneDeep(this.cashIn);
  },

  filters: {
    formatMY(date) {
      return date.toLocaleString('ru', {
        year: 'numeric',
        month: 'long',
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/core.scss';

.options {
  input {
    width: 100%;
  }

  h3 {
    margin-top: 0;
  }

  &__block {
    margin-bottom: _offset(4);
  }

}

.period {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: _offset(2);
}

.cashIn {
  &__input {
    margin-bottom: _offset(3);
    position: relative;

    input {
      padding-top: _offset(5);
    }
  }

  &__label {
    @extend %label;
    color: _palette(grey, 600);
    position: absolute;
    top: _offset(1.5);
  }

  &__currency {
    left: _offset(2);
  }

  &__date {
    right: _offset(2);
    text-transform: capitalize;
  }
}
</style>
