<template lang="pug">
  .tooltip
    .tooltip__info
      .tooltip__median
        span.label.date {{ date | formatDate }}
        span.value.value--middle(
          v-bind:class="{ 'error': isNegativeOrNull(middleValue) }"
        ) {{ middleValue | currency }}
      .tooltip__range
        .tooltip__range-lower
          span.value(
            v-bind:class="{ 'error': isNegativeOrNull(lowerValue) }"
          ) {{ lowerValue | currency }}
          span.label мин
        .tooltip__range-higher
          span.value(
            v-bind:class="{ 'error': isNegativeOrNull(upperValue) }"
          ) {{ upperValue | currency }}
          span.label макс
      .tooltip__gaussian
        svg(
          viewBox="0 0 222 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            d="M2 29C66.8108 29 77.6126 2 111 2C144.387 2 154.698 29 220 29"
            stroke="url(#paint0_linear)" stroke-width="2" stroke-linecap="round"
          )
          defs
            linearGradient(
              id="paint0_linear"
              x1="220"
              y1="29"
              x2="2"
              y2="29"
              gradientUnits="userSpaceOnUse"
            )
              stop(:stop-color="curveColorHigh")
              stop(offset="0.5" :stop-color="curveColorMid")
              stop(offset="1" :stop-color="curveColorLow")
</template>

<script>
import { format } from 'date-fns';

export default {
  props: {
    date: {
      required: true,
      type: Date,
    },
    middleValue: {
      required: true,
      type: Number,
    },
    upperValue: {
      required: true,
      type: Number,
    },
    lowerValue: {
      required: true,
      type: Number,
    },
  },

  computed: {
    curveColorLow() {
      return this.lowerValue <= 0 ? '#F46F79' : '#8B90F0';
    },

    curveColorMid() {
      return this.middleValue <= 0 ? '#F46F79' : '#86C2C3';
    },

    curveColorHigh() {
      return this.upperValue <= 0 ? '#F46F79' : '#81ED9A';
    },
  },

  methods: {
    isNegativeOrNull(value) {
      return value <= 0;
    },
  },

  filters: {
    formatDate(date) {
      return format(date, 'MMMM yyyy');
    },
  },

};
</script>

<style lang="scss" scoped>
.tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #343840;
  width: 300px;
  box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.12),
    0px 3px 16px rgba(0, 0, 0, 0.1),
    0px 5px 6px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #999FAD;

  &__info {
    padding: 16px;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    position: relative;

    .label {
      line-height: 16px;
      color: #999FAD;
    }

    .value {
      color: #F7F8F9;
      font-weight: 500;

      &--middle {
        font-size: 18px;
        line-height: 24px;
      }

      &.error {
        color: #F46F79;
      }
    }
  }

  &__median {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;

    .date {
      margin-bottom: 2px;
    }
  }

  &__range {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    &-lower, &-higher {
      display: flex;
      flex-direction: column;

      .value {
        font-weight: 500;
      }
    }

    &-higher {
      align-items: flex-end;
    }
  }

  &__gaussian {
    position: relative;
    svg {
      width: 75%;
      position: absolute;
      bottom: 6px;
      left: 12.5%;
    }
  }
}
</style>
